*{
    margin: 0%;
    box-sizing: border-box;
}

.container{
   max-width: 360px;
   margin: 60px auto;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.number-input{
    width: 360px;
    padding: 20px 10px;
    background-color: black;
    font-family: monospace;
    color: white;
    font-size: 20px;
    text-align: end;
    border: none;
}

.buttons-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.button{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    padding-block:15px ;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
.button:hover{
    background-color: white;
}

.yellow{
    background-color: rgb(240, 189, 50);
}
.span-2{
grid-column: span 2;
}
.span-3{
    grid-column: span 3;
}
